Django
django-autoslug
Pillow
django-environ
django-hitcount
psycopg2-binary; platform_system == "Windows"
psycopg2; platform_system != "Windows"
locust
python-chess
whitenoise
gunicorn
uvicorn
django-redis
redis
celery


