{% extends 'layouts/base.html' %}
{% load static %}

{% block content %}
<div class="container my-5">
  <div class="panel p-4 p-md-5 text-center">
    <div style="font-size: 48px; margin-bottom: 10px;">
      <i class="fa fa-ban"></i>
    </div>
    <h3 class="mb-2" style="font-weight: 900;">Siz bloklangansiz</h3>
    <div class="text-muted mb-4">
      Battle o'yini ochilmaydi.
    </div>

    {% if reason %}
      <div class="alert alert-danger mx-auto" style="max-width: 720px;">
        <b>Sabab:</b> {{ reason }}
      </div>
    {% endif %}

    <a class="btn btn-brand" href="{% url 'index' %}">
      <i class="fa fa-home"></i> Bosh sahifa
    </a>
  </div>
</div>
{% endblock content %}

