{% extends 'layouts/base.html' %}
{% load static %}


{% block content %}

<div class="row pt-4 g-4">
  <div class="col-lg-3 col-xl-2">
    {% include 'includes/sidebar-filter.html' %}
  </div>
  <div class="col-lg-9 col-xl-10">
    
    <div class="d-flex align-items-center justify-content-between gap-2 mb-2">
      <h4 class="mb-0">{{ movie_type.name }}</h4>
      <a class="btn btn-surface btn-sm" href="{% url 'index' %}">Bosh sahifa</a>
    </div>

    {% include 'includes/movie-grid.html' with movies=movies %}
  </div>
</div>

{% endblock content %}

