<div class="panel">
  <div class="panel-header">Kategoriyalar</div>
  <div class="panel-body">
    <div class="d-grid gap-1">
      {% for category in categories %}
        <a class="panel-link" href="?category={{ category.id }}">
          <i class="fa fa-folder-open-o"></i> {{ category.name }}
        </a>
        {% for subcategory in category.subcategory.all %}
          <a class="panel-link ms-3" href="?subcategory={{ subcategory.id }}">
            <i class="fa fa-angle-right"></i> {{ subcategory.name }}
          </a>
        {% endfor %}
      {% endfor %}
    </div>
  </div>

  <div class="panel-header">Janrlar</div>
  <div class="panel-body pt-0">
    <div class="d-grid gap-1">
      {% for movie_type in movie_types %}
        <a class="panel-link" href="{% url 'type_wise_movie' movie_type.slug %}">
          <i class="fa fa-list"></i> {{ movie_type.name }}
        </a>
      {% endfor %}
    </div>
  </div>
</div>
